{% extends '_main.html.twig' %}

{% import "_table.html.twig" as table %}
{% import "_buttons.html.twig" as buttons %}

{% block title %}{% trans %}Institution index{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="font-sans px-8 py-4 rounded mt-0 mb-4 bg-white drop-shadow-sm text-xl font-bold">{% trans %}Institution index{% endtrans %}</h1>

    <table class="border-collapse table-auto w-full bg-white rounded text-left font-sans drop-shadow-md mb-8">
        <thead class="bg-slate-50">
            <tr>
                {{ table.th("Id"|trans) }}
                {{ table.th("Name"|trans) }}
                {{ table.th("actions"|trans) }}
            </tr>
        </thead>
        <tbody>
        {% for institution in institutions %}
            <tr>
                {{ table.td(institution.id) }}
                {{ table.td(institution.name) }}

                {% set actions %}
                    <a href="{{ path('app_institution_show', {'id': institution.id}) }}" class="underline pr-2 hidden">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('app_institution_edit', {'id': institution.id}) }}" class="underline pr-2">{% trans %}edit{% endtrans %}</a>
                {% endset %}

                {{ table.td(actions, "w-48") }}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ buttons.link(path('app_institution_new'), "Create new"|trans)}}
{% endblock %}
