{% extends '_main.html.twig' %}

{% import "_table.html.twig" as table %}
{% import "_buttons.html.twig" as buttons %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1 class="font-sans px-8 py-4 rounded mt-0 mb-4 bg-white drop-shadow-sm text-xl font-bold">Category index</h1>

    <table class="border-collapse table-auto w-full bg-white rounded text-left font-sans drop-shadow-md mb-8">
        <thead class="bg-slate-50">
            <tr>
                {{ table.th("Id") }}
                {{ table.th("Name") }}
                {{ table.th("Actions") }}
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                {{ table.td(category.id) }}
                {{ table.td(category.name) }}

                {% set actions %}
                    <a href="{{ path('app_category_show', {'id': category.id}) }}" class="underline pr-2 hidden">show</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="underline pr-2">edit</a>
                {% endset %}

                {{ table.td(actions, "w-48") }}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ buttons.link(path('app_category_new'), "Create new")}}
{% endblock %}
