{% extends '_main.html.twig' %}

{% import "_buttons.html.twig" as buttons %}

{% block title %}{% trans %}Edit PublicService{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="font-sans px-8 py-4 rounded mt-0 mb-4 bg-white drop-shadow-sm text-xl font-bold">
        {% trans %}Edit PublicService{% endtrans %}
    </h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="w-full flex">
            {{ buttons.link_text(
                path('app_public_service_history', { id: public_service.id }),
                "History",
                
            ) }}
        </div>
    {% endif %}

    <div class="border-collapse w-full bg-white rounded text-left font-sans drop-shadow-md mb-8 px-8 py-4">
        {{ include('public_service/_form.html.twig', {'button_label': 'Update'|trans}) }}
    </div>

    <div class="px-2">
        {{ include('public_service/_delete_form.html.twig') }}
        <hr>
        <a class="font-bold" href="{{ path('app_public_service_index') }}">{% trans %}back to list{% endtrans %}</a>
    </div>

    {% block javascripts_finales %}
        {{ include('public_service/_base_form_scripts.html.twig') }}
    {% endblock %}
{% endblock %}
