{% extends '_main.html.twig' %}

{% import "_table.html.twig" as table %}
{% import "_buttons.html.twig" as buttons %}

{% block title %}History Public Service{% endblock %}

{% block body %}
    <h1 class="font-sans px-8 py-4 rounded mt-0 mb-4 bg-white drop-shadow-sm text-xl font-bold">
        History Public Service
    </h1>

    {% for log in logs %}
        {{ "#{log.username} - #{log.getLoggedAt|format_datetime('full', locale="es")}" }}
        {{ buttons.link(
            path('app_public_service_apply_version', { id: public_service.id, version: log.version }),
            "Apply version",
            "float-right mb-2"
        ) }}
        <table class="border-collapse table-auto w-full bg-white rounded text-left font-sans drop-shadow-md mb-8">
            <thead>
                <tr>
                    {{ table.th("Version #{log.version}"|trans) }}
                    {{ table.th() }}
                </tr>
            </thead>
            <tbody>
                {% for key, value in log.data %}
                <tr>
                    {{ table.td(key) }}
                    {% if value is not iterable %}
                      {{ table.td(value) }}
                    {% elseif value is iterable %}
                      <!-- pass, we should use a form to rend this? idk. -->
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    <a class="font-bold" href="{{ path('app_public_service_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
