{% extends '_main.html.twig' %}

{% import "_table.html.twig" as table %}
{% import "_buttons.html.twig" as buttons %}

{% block title %}{% trans %}PublicService index{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="font-sans px-8 py-4 rounded mt-0 mb-4 bg-white drop-shadow-sm text-xl font-bold">{% trans %}PublicService index{% endtrans %}</h1>

    <table class="border-collapse table-auto w-full bg-white rounded text-left font-sans drop-shadow-md mb-8">
        <thead class="bg-slate-50">
            <tr>
                {{ table.th("Id"|trans) }}
                {{ table.th("Name"|trans) }}
                {{ table.th("Description"|trans) }}
                {{ table.th("Instructions"|trans) }}
                {{ table.th("Requirements"|trans) }}
                {{ table.th("Cost"|trans) }}
                {{ table.th("TimeResponse"|trans) }}
                {{ table.th("TypeOfDocumentObtainable"|trans) }}
                {{ table.th("Url"|trans) }}
                {{ table.th("actions"|trans) }}
            </tr>
        </thead>
        <tbody>
        {% for public_service in public_services %}
            <tr>
                {{ table.td(public_service.id) }}
                {{ table.td(public_service.name) }}
                {{ table.td(public_service.description) }}
                {{ table.td(public_service.instructions) }}
                {{ table.td(public_service.requirements) }}
                {{ table.td(public_service.cost) }}
                {{ table.td(public_service.timeResponse) }}
                {{ table.td(public_service.typeOfDocumentObtainable) }}
                {{ table.td(public_service.url) }}

                {% set actions %}
                    <a href="{{ path('app_public_service_show', {'id': public_service.id}) }}" class="underline pr-2 hidden">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('app_public_service_edit', {'id': public_service.id}) }}" class="underline pr-2">{% trans %}edit{% endtrans %}</a>
                {% endset %}
                
                {{ table.td(actions, "w-48") }}
            </tr>
        {% else %}
            <tr>
                <td colspan="10">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ buttons.link(path('app_public_service_new'), "Create new"|trans)}}
{% endblock %}
