{% extends '_main.html.twig' %}

{% import "_table.html.twig" as table %}
{% import "_buttons.html.twig" as buttons %}

{% block title %}{% trans %}PublicService index{% endtrans %}{% endblock %}

{% block body %}

    <div class="row w-full">
        <div class="col-lg-12">
            <div class="card card-custom card-stretch gutter-b ">
                <!--begin::Header-->
                <div class="card-header border-0 py-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label font-weight-bolder text-dark">{% trans %}PublicService index{% endtrans %}</span>
                    </h3>
                    <div class="card-toolbar">
                        {{ buttons.link_text(
                            path('app_public_service_history_index'),
                            "Ver últimos cambios",
                            "ml-auto mb-2 mr-2"
                        ) }}
                        {{ buttons.link_text(
                            path('app_public_service_upload_csv'),
                            "Cargar CSV",
                            "mb-2"
                        ) }}
                    </div>
                </div>
                <!--end::Header-->
                <div class="card-body pt-3 pb-3">
                    <!--begin::Table-->
                    <div class="table-responsive">
                        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                            <thead >
                                <tr class="text-uppercase">
                                    {{ table.th("Id"|trans, "w-48", "max-width:50px!important") }}
                                    {{ table.th("Institution"|trans) }}
                                    {{ table.th("Name"|trans) }}
                                    {{ table.th("Description"|trans) }}
                                    {{ table.th("Cost"|trans, "w-48", "max-width:100px!important") }}
                                    {{ table.th("TimeResponse"|trans, "w-48", "max-width:100px!important") }}
                                    {{ table.th("TypeOfDocumentObtainable"|trans,  "w-48", "max-width:150px!important") }}
                                    {{ table.th("Url"|trans, "w-48", "max-width:150px!important") }}
                                    {{ table.th("actions"|trans, "w-48", "max-width:100px!important") }}
                                </tr>
                            </thead>
                            <tbody>
                            {% for public_service in public_services %}
                                <tr>
                                    {{ table.td(public_service.id) }}
                                    {{ table.td(public_service.institution.name) }}
                                    {{ table.td(public_service.name) }}
                                    {{ table.td(public_service.description, "truncate w-48") }}
                                    {{ table.td(public_service.cost) }}
                                    {{ table.td(public_service.timeResponse) }}
                                    {{ table.td(public_service.typeOfDocumentObtainable) }}
                                    {{ table.td(public_service.url) }}

                                    {% set actions %}
                                        <a href="{{ path('app_public_service_show', {'id': public_service.id}) }}" class="underline pr-2 hidden">{% trans %}show{% endtrans %}</a>
                                        <a href="{{ path('app_public_service_edit', {'id': public_service.id}) }}" class="underline"><span class="svg-icon svg-icon-md"><svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) "></path><path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path></g></svg></span></a>
                                    {% endset %}
                                    
                                    {{ table.td(actions, "w-48") }}
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="10">{% trans %}no records found{% endtrans %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body pt-3 pb-3 mb-3">
                    {{ buttons.link(path('app_public_service_new'), "Create new"|trans)}}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}


{% block javascripts_finales %}
    <script src="{{ asset('js/widgets.js') }}"></script>
{% endblock %}