{% macro link(url, text, cssStyles = "") %}
  <a href="{{ url }}" class="bg-blue-700 text-white font-medium px-4 py-2 rounded text-center {{cssStyles}}">
    {{ text }}
  </a>
{% endmacro %}

{% macro submit(value, name, cssStyles = "") %}
  <button type="submit" class="bg-blue-700 text-white px-3 py-2 rounded font-bold" name="{{name}}">
    {{ value }}
  </button>
{% endmacro %}