{% macro link(url, text, cssStyles = "") %}
  <a href="{{ url }}" class="btn btn-success font-weight-bolder font-size-sm mx-2 my-2">
    {{ text }}
  </a>
{% endmacro %}

{% macro link_text(url, text, cssStyles = "") %}
<a href="{{ url }}" class="btn btn-success font-weight-bolder font-size-sm mx-2 my-2">
  {{ text }}
</a>
{% endmacro %}

{% macro submit(value, name, cssStyles = "") %}
  <button type="submit" class="btn btn-success font-weight-bolder font-size-sm mx-2 my-2" name="{{name}}">
    {{ value }}
  </button>
{% endmacro %}