<div class="block">
  <a href="{{url('app_index')}}" class="block w-full h-12 no-underline font-sans font-medium">
    {% trans %}Home{% endtrans %}
  </a>
  <a href="{{url('app_public_service_index')}}" class="block w-full h-12 no-underline font-sans font-medium">
    {% trans %}Public Services{% endtrans %}
  </a>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="{{url('app_category_index')}}" class="block w-full h-12 no-underline font-sans font-medium">
      {% trans %}Categories{% endtrans %}
    </a>
    <a href="{{url('app_sub_category_index')}}" class="block w-full h-12 no-underline font-sans font-medium">
      {% trans %}SubCategories{% endtrans %}
    </a>
    <a href="{{url('app_institution_index')}}" class="block w-full h-12 no-underline font-sans font-medium">
      {% trans %}Institutions{% endtrans %}
    </a>
    <a href="{{url('app_user_index')}}" class="block w-full h-12 no-underline font-sans font-medium">
      {% trans %}Users{% endtrans %}
    </a>
  {% endif %}
</div>