<div class="block">
  <a href="{{url('app_index')}}" class="block w-full h-12 no-underline font-sans font-medium">
    Home
  </a>
  <a href="{{url('app_public_service_index')}}" class="block w-full h-12 no-underline font-sans font-medium">
    Public Services
  </a>
  <a href="{{url('app_category_index')}}" class="block w-full h-12 no-underline font-sans font-medium">
    Categories
  </a>
  <a href="{{url('app_sub_category_index')}}" class="block w-full h-12 no-underline font-sans font-medium">
    SubCategories
  </a>
  <a href="{{url('app_institution_index')}}" class="block w-full h-12 no-underline font-sans font-medium">
    Institutions
  </a>
</div>