{% macro td(value, cssClass = "", cssStyles = "") %}
  <td
    class="{{cssClass}}"
    style="{{cssStyles}}"
  >
    {{ value }}
  </td>
{% endmacro %}

{% macro th(value, cssClass = "", cssStyles = "") %}
  <th
    style="{{cssStyles}}"
  >
    {{ value }}
  </th>
{% endmacro %}

{% macro th_sortable(pagination, value, propertyPath, cssClass = "", cssStyles = "") %}
  <th
    class="{{cssClass}}"
    style={{cssStyles}}
  >
    {{ knp_pagination_sortable(pagination, value, propertyPath)|raw }}
  </th>
{% endmacro %}