{% extends '_main.html.twig' %}

{% import "_table.html.twig" as table %}
{% import "_buttons.html.twig" as buttons %}

{% block title %}{% trans %}User index{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="font-sans px-8 py-4 rounded mt-0 mb-4 bg-white drop-shadow-sm text-xl font-bold">{% trans %}User index{% endtrans %}</h1>

    <table class="border-collapse table-auto w-full bg-white rounded text-left font-sans drop-shadow-md mb-8">
        <thead class="bg-slate-50">
            <tr>
                {{ table.th("Id"|trans) }}
                {{ table.th("Email"|trans) }}
                {{ table.th("Roles"|trans) }}
                {{ table.th("actions", "w-48") }}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {{ table.td(user.id) }}
                {{ table.td(user.email) }}
                {% set roles %}
                    {{ user.roles ? (user.roles|map(p => "<span
                        class='bg-orange-400 text-white font-bold rounded mx-1 px-1 text-xs'>#{p}</span>")|join('')|raw) : '' }}
                {% endset %}
                {{ table.td(roles) }}

                {% set actions %}
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="underline pr-2 hidden">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="underline pr-2">{% trans %}edit{% endtrans %}</a>
                {% endset %}

                {{ table.td(actions, "w-48") }}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ buttons.link(path('app_user_new'), "Create new"|trans)}}
{% endblock %}